/* Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 100px;
    margin-right: 8px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav-links a:hover {
    color: #5771ff;
}

.dropdown {
    position: relative;
}

.menu-icon {
    display: none;
}

/* Join Us Button */
.join {
    font-size: 16px;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

/* Contact Us Button */
.signup {
    font-size: 16px;
    color: white;
    background-color: #5771ff;
    /* Bright orange */
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}



li {
    list-style: none;
    /* Remove bullet points */
    display: inline-block;
    margin-right: 10px;
}

/* Media query for smaller screens */
@media (max-width: 588px) {
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #f5f5f5;
        padding: 10px;
        position: absolute;
        top: 30px;
        /* Adjust position as needed */
        left: 0;
        /* Aligns the menu to the left */
        width: 100%;
        /* Make it span the full width */
        border: 1px solid #ccc;
    }

    .nav-links.show {
        display: flex;
        align-items: flex-start;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
}